html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 40%, #E4E9FD 40%);
  min-height: 619px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
  display: flex;
  min-height: 70px;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item p {
  flex-grow: 1;
}

p {
  padding: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

input[type="checkbox"] {
  margin: 20px;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

form {
  text-align: center;
  margin-left: 20px;
}

input[type="text"] {
  top: 10px;
  height: 60px;
  border: none;
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  background: transparent;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.add-item {
  background-color: #A683E3;
  border-color: transparent;
  width: 50px;
  min-height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.edit {
  background-color: #A683E3;
  border-color: transparent;
  width: 50px;
  min-height: 20px;
  border-radius: 7%;
  color: #fff;
  font-size: 14px;
  align-content: right;
  right: 0;
  margin-right: 15px;
}